.margin-bottom-md
#user_nav.admin
  - if current_user
    .row.margin-bottom-md
      .col-md-2
        = link_to t('.new'), new_admin_article_path, class: 'btn btn-default'
      .col-md-8
      .col-md-1
        = link_to "Logout", logout_path, class: 'btn btn-default'
    %ul.list-group.articles= render @articles
  - else
    .pull-right= link_to "Login", login_path, class: 'btn btn-default'
