%li.article.row
  %time.small{ datetime: l(article.published_at) }
    = l article.published_at.to_date, format: :short
  = link_to article.title, article_path(article.slug, locale: locale), 
      type: 'text', rel: 'next',  hreflang: locale, 
      class: 'lobster glyphicon glyphicon-chevron-right h1'
  = present(article, ArticlePresenter).tags_with_icon
