%header.row
  %h2 Blog
%ul.no-bullet.row
  - @articles.each do |article|
    %li
      %time{ datetime: l(article.published_on) }= l article.published_on, format: :short
      %h2
        = link_to article.title, article_path(article.slug)
