%header
  %time{ datetime: l(@article_presenter.published_on) }= l @article_presenter.published_on, format: :long
%article
  %h1.lobster= @article_presenter.localized_title
  = @article_presenter.context(self).tags_with_icon
  .text
    = preserve { MarkdownService.call @article_presenter.localized_content }
