.page{ 'data-index' => "0" }
  %span.pageNumber
    %var.current
      1/
    %var.total
      2
  .section{ 'data-index' => "0" }
    .column{ 'data-index' => "0" }
      %h2.title
        .text
          %p.line1
            Christian Rolle
  .section{ 'data-index' => "1" }
    .column{ 'data-index' => "0" }
      %section.paragraph
        %h3.heading
          .text
            %p.line1
              Persönliche Daten
        %table
          %tbody
            %tr.line
              %td.field
                .text
                  %p.line1
                    Name
              %td.value
                .text
                  %p.line1
                    Christian Rolle
            %tr.line
              %td.field
                .text
                  %p.line1
                    Anschrift
              %td.value
                .text
                  %p.line1
                    Lübecker Strasse 115
                  %p.line2
                    19059, Schwerin
            %tr.line.selected
              %td.field
                .text
                  %p.line1">Tel.</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text placeholder">
                  <p class="line1">0123 / 456 789</p>
                </div>
              </td>
            </tr>
            <tr data-category="email" class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">E-Mail</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">rolle.christian@gmail.com</p>
                </div>
              </td>
            </tr>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">geb.</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">17.03.1978 in Wismar</p>
                </div>
              </td>
            </tr>
      <section class="paragraph continued">
        <h3 class="heading">
          <div contenteditable="true" class="text">
            <p class="line1">Berufliche Laufbahn</p>
          </div>
        </h3>
        <table>
          <tbody>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">September 2013 &ndash; heute</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">MedlinQ GmbH, Hamburg</p>
                  <p class="line2">Senior Ruby on Rails Developer (Full Stack)</p>
                  <p class="line3 bullet">●&ensp;Applikation Prämedikation für verschiedene Krankenhäuser</p>
                  <p class="line4 bullet">●&ensp;Applikation Anästhesie (legacy codebase) für verschiedene Krankenhäuser</p>
                </div>
              </td>
            </tr>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">August 2011 &ndash; August 2013</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">Trebing + Himstedt GmbH &amp; Co. KG, Schwerin</p>
                  <p class="line2">SAP MES Developer</p>
                  <p class="line3 bullet">●&ensp;Applikation Berechnung KPI Kennzahlen (SAP MII und Adobe FLEX)</p>
                  <p class="line4 bullet">●&ensp;Prototyp BDE Applikation im JavaNetWeaver</p>
                  <p class="line5"><br></p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    <div class="column" data-index="1">
      <section class="paragraph">
        <h3 class="heading">
          <div contenteditable="true" class="text">
            <p class="line1">Ausbildung</p>
          </div>
        </h3>
        <table>
          <tbody>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">2001 &ndash; 2006</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">Multimedia Engineering and der Hochschule Wismar</p>
                  <p class="line2">Abschluss: Diplom</p>
                </div>
              </td>
            </tr>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">1997 &ndash; 2000</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">Ausbildung Fachinformatiker Systemintegration</p>
                  <p class="line2">AOK - Schwerin</p>
                </div>
              </td>
            </tr>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">1984 &ndash; 1996</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">Helene Waigel Gymnasium</p>
                  <p class="line2">Abschluss: Abitur</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="paragraph">
        <h3 class="heading">
          <div contenteditable="true" class="text">
            <p class="line1">Kenntnisse &amp; Fähigkeiten</p>
          </div>
        </h3>
        <table>
          <tbody>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text placeholder">
                  <p class="line1">Fremdsprachen</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">Englisch fließend in Wort und Schrift</p>
                  <p class="line2">Russisch Grundkenntnisse in Wort und Schrift</p>
                </div>
              </td>
            </tr>
            <tr class="line">
              <td class="field">
                <div contenteditable="true" class="text">
                  <p class="line1">Kenntnisse</p>
                </div>
              </td>
              <td class="value">
                <div contenteditable="true" class="text">
                  <p class="line1">Ruby on Rails, Javascript, Java, C++, C, PostgreSQL, MySQL, MSSQL, SQLite, XML, HTML, CSS, JQuery, Bootstrap, FLEX</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
