#articles .admin{
  .articles{
    .h3{ margin: 0px; }
  }
  &.article{
    .row{ margin: 0; }
    .tags{
      input:not(:checked) + label{ text-decoration: line-through; }
      label:not(:last-of-type):after{ content: ',' }
    }
  }
}
