.form-group{
  .glyphicon.form-control-mark{
    &.pre{
      @extend .form-control-feedback;
      color: $iron;
      z-index: 3;
      right: auto;
      &+input{
        text-indent: 20px;  
      }      
    }
  }
}
