/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
*/
@import "components/fonts.scss";
@import "_variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "components/general.scss";
@import "components/form.scss";
@import "components/list.scss";
@import "articles.scss";
@import "admin/articles.scss";
@import "admin/tags.scss";
@import "rouge";

body{
  background-color: $smoke;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  margin: 0;
  min-height: 100%;

  .pointer{
    cursor: pointer;
  }
  nav.bar{
    background-color: $gainsboro;
    .avatar{
      img{
        height: auto;
        border-radius: 100%;
      }
    }
    .sub{
      .author{
        margin: 0px;
      }
      a{ color: $charcoal; }
     }
  }
  main{
    display: block;  
  }
}
@media #{$retina}{
  nav.bar{
    padding: 0.5% 1% 0.5% 3%;
    transition: all 0.2s ease-out 0s;
    .avatar{
      display: inline-block;
      float: left;
      padding-right: 10%;
      img{
        width: 70px;
        border: 0.2em solid $gray;
        transition: all 0.2s ease-in 0s;
      }
    }
    .sub{
      display: inline-block;
      text-align: center;
      h1.author{
        line-height: 1;
        padding-top: 10px;
        font-size: $font-size-h3;
      }
      .social{
        padding-top: 8px;
        .icon{
          margin: 0 3px 0 0;
          line-height: 1em;
        }
      }
    }
  }
}
@media #{$tablet}{
  nav.bar{
    text-align: right;
    padding: 1% 2% 0px 0px;
    position: fixed;
    height: 100%;
    transition: all 0.2s ease-in 0s;
    .avatar{
      display: inline-block;
      float: none;
      padding-right: 0px;
      img{
        transition: all 0.2s ease-out 0s;
        border: 0.3em solid $gray !important;
        width: 100px;
      }
    }
    h1.author{
      padding: 1em 0em 0.5em 0em !important;
      font-size: $font-size-h1 !important;
    }
    .sub{
      text-align: right;
      display: block;
      .social .icon{
        text-align: right;
        margin: 0 0 0 3px;
        font-size: 2em;
      }
    }
  }
}


