/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
*/
@import "fonts.scss";
@import "foundation-icons";
@import "foundation_and_overrides.scss";
@import "articles.scss";
@import "admin/articles.scss";

body{
  background-color: $snow;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !important;
  
  margin: 0;
  min-height: 100%;
  nav.bar{
    display: block;
    background-color: $gainsboro;
//    background-image: image-url('books_klein.png') no-repeat;
    .avatar{
      img{
        height: auto;
        border-radius: 100%;
      }
    }
  }
  main{
    display: block;  
  }
}
@media #{$small-up}{
  nav.bar{
    padding: 0.5% 1% 0.5% 3%;
    transition: all 0.2s ease-out 0s;
    .avatar{
      display: inline-block;
      float: left;
      padding-right: 10%;
      img{
        width: 70px;
        border: 0.2em solid $charcoal;
        transition: all 0.2s ease-in 0s;
      }
    }
    .sub{
      display: inline-block;
      text-align: center !important;
      h1.author{
        font-size: $h3-font-size;
        line-height: 1;
        padding-top: 5px;
      }
      .social{
        padding-top: 8px;
        .icon{
          margin: 0 3px 0 0;
          font-size: $h3-font-size !important;
          line-height: 1em;
        }
      }
    }
  }
}
/*
@media #{$medium-only}{
  nav.bar{
    padding: 0.4% 3% 0.4% 3%;
    .avatar{
      padding-right: 5%;
      img{
        width: 60px;
        border: 0.3em solid #555;
      }
    }
    .sub{
      position: relative;
      top: 2%;
      h1.author{
        float: left;  
        font-size: $h2-font-size !important;
        padding-right: 5%;
      }
      .social{
        position: relative;
        top: 20px;
      }
    }
  }
}
*/
@media #{$large-up}{
  nav.bar{
    text-align: right !important;
    padding: 1% 3% 0px 0px;
    position: fixed;
    height: 100%;
    transition: all 0.2s ease-in 0s;
    .avatar{
      display: inline-block;
      float: none;
      padding-right: 0px;
      img{
        width: 100px;
        border: 0.3em solid $charcoal;
        transition: all 0.2s ease-out 0s;
      }
    }
    h1.author{
      font-size: $h2-font-size !important;
      padding: 1em 0em 0.5em 0em !important;
    }
    .sub{
      text-align: right !important;
      display: block;
      .social .icon{
        text-align: right;
        margin: 0 0 0 3px;
      }
    }
  }
}


