#articles {
  .published {
    .article {
      padding: 1em 0px;

      &:not(:first-child){
        border-top: 1px solid $gainsboro;
        position: relative;
      }
      a.h1 {
        margin-top: 2px;
        display: block;
        text-decoration: none;

        &:before {
          font-family: "Glyphicons Halflings" !important;
          color: $aluminum;
          float: right;
          padding-left: 5px;
        }
        &:hover {
          text-shadow: 1px 1px 2px $aluminum;
          padding-left: 4px;
          transition: all 0.1s linear;

          &:before {
            transition: all 0.1s linear;
            color: $charcoal;
            padding-left: 1px;
          }

        }
      }
      strong { font-weight: normal; }
      summary {
        display: block;

        &:before{ text-align: right; }
      }
    }
  }
  header {
    max-width: 1014px;
    margin-top: 1em;  
    font-size: 0.9em;

    figure { margin-left: 1em; }
    h1 { margin-top: 0px; }
  }
  article {
    max-width: 1014px;
    padding: 1em 0px;
    time {
      display: block;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      font-weight: bold;
      color: $aluminum;
    }
    .text {
      h3 {
        font-family: "Lobster" !important;
      }
      table {
        td, th {
          border: 1px solid $iron;
          padding: 0.25em 0.5em;
        }
        tr {
          border-left: 2px solid $iron; 
          border-right: 2px solid $iron; 
          &:first-child { border-top: 2px solid $iron; }
          &:last-child { border-bottom: 2px solid $iron; }
        }
        tr:first-child th:first-child { border-top-left-radius: 10px; }
        tr:first-child th:last-child { border-top-right-radius: 10px; }
        tr:last-child td:first-child { border-bottom-left-radius: 10px; }
        tr:last-child td:last-child { border-bottom-right-radius: 10px; }
      }
      .highlight {
        table {
          border: 2px solid $iron;
          border-radius: 5px;
        }
        .gutter { background-color: $iron; }  
        .code {
          width: 100%;
          background-color: $white-smoke;

          pre {
            font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace !important;
          }
        }
      }
    }
    .example.box { 
      border: 1px solid #ccc; 
      border-radius: 4px; 
      background-color: #FFF; 
      display: block; 
      margin: 0 0 10px; 
      padding: 9.5px; 

      &.form-group {
        input + label { font-weight: bold; }

        input[type=checkbox]:checked + label { 
          &.success { &::before { background-color: $brand-success; } }
          &.danger { &::before { background-color: $brand-danger; } }
          &.warning { &::before { background-color: $brand-warning; } }
        }
        input[type=radio]:checked + label { 
          &.success { &::after { background-color: $brand-success; } }
          &.danger { &::after { background-color: $brand-danger; } }
          &.warning { &::after { background-color: $brand-warning; } }
        }
      }
    }
    em {
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 3px;
      font-size: 85%;
      margin-right: 0.4em;
      padding: 0.2em 0;
      font-style: normal;
      font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
      
      &::before {
        content: " ";
        padding: 0.2em;
      }
      &::after {
        content: " ";
        letter-spacing: -0.2em;
        margin-right: 0.2em;
      }

    }
  }
  footer {
    margin-bottom: 2em;
    span { margin-right: 1em; }
  }

  .tags {
    color: $aluminum;

    &.glyphicon {
      position: static;
      top: 0px;
      &:before {
        float: left;
        margin-right: 0.5em;
      }
    }
    > a { 
      font-family: "Open Sans" !important;
      font-weight: normal;
      float: left;
      text-decoration: underline;
      text-decoration-color: $gainsboro;

      &:not(:last-child):after { 
        margin-right: 0.5em;
        content: ',' 
      }

      &:hover { text-decoration-color: $aluminum; }
    }
  }
}
