#articles{
  .published{
    .article{
      padding: 1em 0px;
      &:not(:first-child){
        border-top: 1px solid $gainsboro;
        position: relative;
      }
      a{
        margin-top: 2px;
        display: block;
        text-decoration: none;

        &:before{
          font-family: "Glyphicons Halflings" !important;
          color: $aluminum;
          float: right;
          padding-left: 5px;
        }
        &:hover{
          text-shadow: 1px 1px 2px $aluminum;
          padding-left: 4px;
          transition: all 0.1s linear;

          &:before{
            transition: all 0.1s linear;
            color: $charcoal;
            padding-left: 1px;
          }
        }
      }
      strong{ font-weight: normal; }
      summary{
        display: block;
        &:before{
          text-align: right;
        }
      }
    }
  }
  header{
    margin-top: 1em;  
    font-size: 0.9em;
    color: $aluminum;
  }
  article{
    max-width: 1014px;
    .text{
      padding: 1em 0px;
      h1{
        font-family: "Open Sans" !important;
        font-size: 1.5em;
        font-weight: bold;
      }
      table{
        td, th{
          border: 1px solid $iron;
          padding: 0.25em 0.5em;
        }
        tr{ 
          border-left: 2px solid $iron; 
          border-right: 2px solid $iron; 
          &:first-child{ border-top: 2px solid $iron; }
          &:last-child{ border-bottom: 2px solid $iron; }
        }
        tr:first-child th:first-child { border-top-left-radius: 10px; }
        tr:first-child th:last-child { border-top-right-radius: 10px; }
        tr:last-child td:first-child { border-bottom-left-radius: 10px; }
        tr:last-child td:last-child { border-bottom-right-radius: 10px; }
      }
      .highlight{
        table{
          border: 2px solid $iron;
          border-radius: 5px;
        }
        .gutter{
          background-color: $iron;
        }  
        .code{
          width: 100%;
          background-color: $white-smoke;
          pre{
            font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace !important;
            span{
            }
          }
        }
      }
    }
  }
}
