@font-face {
    font-family: 'Web OpenSans Lt';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Light.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Light.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Light.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Light.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Light.svg?o3rp7v#OpenSans-Light') format("svg")
}

@font-face {
    font-family: 'Web OpenSans Lt It';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-LightItalic.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-LightItalic.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-LightItalic.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-LightItalic.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-LightItalic.svg?o3rp7v#OpenSans-LightItalic') format("svg")
}

@font-face {
    font-family: 'Web OpenSans Rg';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Regular.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Regular.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Regular.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Regular.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Regular.svg?o3rp7v#OpenSans-Regular') format("svg")
}

@font-face {
    font-family: 'Web OpenSans It';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Italic.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Italic.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Italic.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Italic.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Italic.svg?o3rp7v#OpenSans-Italic') format("svg")
}

@font-face {
    font-family: 'Web OpenSans Sb';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Semibold.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Semibold.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Semibold.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Semibold.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-Semibold.svg?o3rp7v#OpenSans-Semibold') format("svg")
}

@font-face {
    font-family: 'Web OpenSans Cn Lt';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLight.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLight.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLight.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLight.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLight.svg?o3rp7v#OpenSans-CondLight') format("svg")
}

@font-face {
    font-family: 'Web OpenSans Cn Lt It';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLightItalic.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLightItalic.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLightItalic.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLightItalic.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondLightItalic.svg?o3rp7v#OpenSans-CondLightItalic') format("svg")
}

@font-face {
    font-family: 'Web OpenSans Cn Bd';
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondBold.eot?o3rp7v');
    src: url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondBold.eot?&o3rp7v#iefix') format("embedded-opentype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondBold.woff?o3rp7v') format("woff"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondBold.ttf?o3rp7v') format("truetype"), url('https://lebenslauf.com/assets/fonts/OpenSans/OpenSans-CondBold.svg?o3rp7v#OpenSans-CondBold') format("svg")
}

#document {
    font-family: 'Pdf OpenSans Lt', 'Web OpenSans Lt'
}

#document .bold {
    font-family: 'Pdf OpenSans Rg', 'Web OpenSans Rg'
}

#document .italic {
    font-family: 'Pdf OpenSans Lt It', 'Web OpenSans Lt It'
}

#document.coverletter .page {
    padding: 8em 8em 6em;
    width: 70em;
    height: 107.62857em
}

#document.coverletter .page[data-index="0"]:after {
    content: 'Bewerbung';
    position: absolute;
    top: 0;
    left: 6.8em;
    display: block;
    padding: 1em;
    width: 7em;
    height: 7em;
    line-height: 13em;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase
}

#document.coverletter .page .sender {
    position: absolute;
    right: 8em;
    top: 8em;
    text-align: right
}

#document.coverletter .page .recipient {
    float: left;
    margin-top: 12em
}

#document.coverletter .page .sender .text,
#document.coverletter .page .recipient .text {
    padding: 0.33em 0.66em;
    font-size: 1.5em;
    line-height: 1.6em
}

#document.coverletter .page .date {
    clear: left;
    float: right;
    margin: 0 0 4em
}

#document.coverletter .page .date .text {
    padding: 0.33em 0.66em;
    font-size: 1.5em;
    line-height: 1.6em
}

#document.coverletter .page .subject {
    clear: right;
    margin-bottom: 3em
}

#document.coverletter .page .subject .text {
    text-transform: uppercase;
    font-family: 'Pdf OpenSans Cn Lt', 'Web OpenSans Cn Lt';
    font-size: 3em;
    padding: 0.3em;
    line-height: 0.9em
}

#document.coverletter .page .subject .text .bold {
    font-family: 'Pdf OpenSans Cn Bd', 'Web OpenSans Cn Bd'
}

#document.coverletter .page .subject .text .italic {
    font-family: 'Pdf OpenSans Cn Lt It', 'Web OpenSans Cn Lt It'
}

#document.coverletter .page .paragraph .text {
    padding: 0.33em 0.66em;
    width: 45.3em;
    font-size: 1.5em;
    line-height: 1.6em;
    text-align: justify;
    white-space: normal
}

#document.resume .page {
  padding: 5em 4.2em 6.5em;
  width: 77.6em;
  height: 110.12857em;

  .paragraph {
    li h4 { 
      display: block;
      font-weight: bold;
      margin-top: 2em;
    }
    ol li {
      p {
        margin-top: 1em;
        span:after { 
          content: ':';
          margin-right: 1em;
        }
      }
    }
    & .language:before {
      content: '\2022';
      font-weight: bold;
    }
  }
}
