@font-face{
  font-family: "Social Icons";
  src: font_path('socialfont.eot');
  src: font_path('socialfont.svg#SSSocialCircle') format('svg'),
    font_path('socialfont.woff') format('woff'),
    font_path('socialfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

.icon{
  font-family: 'Social Icons';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-decoration: none;
}
a.icon {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

