// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#avatar img{
  width: 140px;
  border-radius: 70px;
  display: block;
  margin: 0 auto 14px;
}
.content{
  text-align: center;  
  color: #444;
  a{
    text-decoration: none;
    color: #777;
  }
}
